[app]
address = "localhost:{{ server_port }}"
admin_username = "{{ listmonk_user }}"
admin_password = "{{ listmonk_password }}"

# Database.
[db]
host = "localhost"
port = 5432
user = "{{ listmonk_db_user }}"
password = "{{ listmonk_db_password }}"
database = "{{ listmonk_db_name }}"
ssl_mode = "disable"
max_open = 25
max_idle = 25
max_lifetime = "300s"